@import "../../colors";

.spinner {
    animation: spinnerAnimation 0.6s linear infinite;
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
    top: 50%;
    left: 50%;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-top: 3px solid $yellow;
    border-right: 3px solid transparent;
}

@keyframes spinnerAnimation {
    to {
        transform: rotate(360deg);
    }
}
